body{
	background-image: url(../img/mekong-green.png);
}

.logo {
  font-family: 'Peralta', cursive;
}

.logo a {
  color: rgba(0,0,0,.9);
}

.logo a:hover,
.logo a:active {
  text-decoration: none;
}

.signupform .form-group small.text-muted{
	display: none;
}