{% extends "includes/base.html" %}
{% block title %}
    Change Password
{% endblock title %}

{% block breadcrumb %}
    <li class="breadcrumb-item active">Change Password</li>
{% endblock breadcrumb %}
{% block content %}
    <div class="row">
    	<div class="col-lg-6 col-md-8 col-sm-10">
    		<form action="" method="POST" nonvalidate>
				{% csrf_token %}
				{% include 'includes/form.html' %}
    			<button class="btn btn-success" type="submit">Change Password</button></form>
    	</div>
    </div>
{% endblock content %}